body {background-color:rgb(130, 130, 130); }
.topper {text-align: center;font-size: 55px;}
img {padding-bottom: 25px; padding-top: 15px;}
.pic {transform: scale(.8);}
/*#schedule {color: #247BA0;}*/
.smaller {font-size: 40px; color: #247BA0;}
.bigger {font-size: 70px;}
